<div class="col-2 justify-content-center text-center card border-dark m-3">
  <%= image_tag(badge.img, size:'200') %>
  <%= content_tag :b, badge.title %>
  <%= content_tag :p, badge.description %>
</div>
