<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom" style="height: 100px">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © <%= current_year %>
    Copyright:
    <span class="text-reset fw-bold">
      <%= github_url('plastmastick', 'TestGuru')%>
    </span>
    <p>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica','https://thinknetica.com/',
                  target: '_blank',
                  class: "text-reset fw-bold",
                  rel: 'nofollow, noopener'%>
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
