<h1><%= t('.header', title: @test.title) %></h1>

<%= render 'form' %>
<br>

<%= link_to t('helpers.buttons.show'), admin_test_path(@test) %> |
<%= link_to t('helpers.buttons.back'), admin_tests_path %>
