<footer>
  <p>
    © <%= current_year %>
    Plastmastick
    <%= link_to 'Github', 'https://github.com/plastmastick/TestGuru',
        target: :_blank, rel: :nofollow, rel: :noopener%>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica','http://thinknetica.com/',
        target: :_blank, rel: :nofollow, rel: :noopener%>
  </p>
</footer>
