<footer>
  <p>
    © <%= current_year %>
    Plastmastick
    <%= github_url('plastmastick', 'TestGuru')%>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica','http://thinknetica.com/',
        target: :_blank, rel: :nofollow, rel: :noopener%>
  </p>
</footer>
